# default ignores
.DS_Store
*.out
*.swp

# Git ignores categorized per code type
# retrieved from https://github.com/github/gitignore/blob/master/C.gitignore

# ----------------------------------- C/C++ Code --------------------------------------------

# Prerequisites
*.d

# Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# C/Compiled Static Libraries
*.lib
*.a
*.lo
*.lai
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ----------------------------------- CUDA Code --------------------------------------------

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# ----------------------------------- CIVL Code --------------------------------------------
CIVLREP/
