
.DS_Store
*.out
CIVLREP
*~
f17/chemistry/Multiscale-KMC/serial/MSA-KMC.x
f17/chemistry/Multiscale-KMC/serial/in_file_reader.o
f17/chemistry/Multiscale-KMC/serial/run_sim_ser.o
f17/chemistry/Multiscale-KMC/serial/STS_sim.o
f17/chemistry/Multiscale-KMC/serial/Traj_stats.o
f17/chemistry/Multiscale-KMC/serial/TTS_sim.o
f17/chemistry/Multiscale-KMC/src/myHeader.h.gch
